@font-face {
  font-family: 'LetoSans';
  src: url('letosans/LetoSans.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'LetoSans';
  src: url('letosans/LetoSans-Thin.otf') format('opentype');
  font-style: normal;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'LetoSans';
  src: url('letosans/LetoSans-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}
