.welcome
	margin auto
	margin-top 32px
	padding-top 134px
	padding-bottom 60px
	font-size 16px
	font-weight normal
	font-style normal
	line-height 1.75
	letter-spacing normal
	text-align center
	color #000
	max-width 500px
	background url(./images/ic-vocapp.svg) center top no-repeat