.warningBlock
  display inline-block
  margin 20px 0
  padding 10px 14px 10px 60px
  letter-spacing 0
  color #fff
  background url(./images/alert-circle.svg) left 17px center no-repeat #0877B1
  font-size 14px
  line-height 20px
  @media(max-width 680px)
    display block
    margin 20px -20px
    padding 15px 14px 15px 60px
    background-color #6E768D
    font-size 12px
    line-height 1
  &Title
    font-weight 600
    @media(max-width 680px)
      padding-bottom 6px
