:global
  #nprogress
    position fixed!important
    top 0!important
    width 100%!important
    height 4px!important
    z-index 99999!important
    .bar
      height 4px!important
      box-shadow 0 0 60px 5px #29d!important
