.sidebar
  position absolute
  z-index 4
  top 0
  right 0
  left 0
  width 100%
  height 88px
  text-align center
  color white
  background-color #fff
  box-shadow 0 1px 6px 0 rgba(0, 0, 0, 0.04)
  font-size 18px
  font-weight 600
  font-style normal
  line-height normal
  letter-spacing 0.5px
  text-align right
  color #000
  text-transform uppercase

  .mainLogoWrap,
  .rightBlockWrap
    width 50%
    display inline-block
    float left
    margin 32px 0
  .mainLogoWrap
    text-align left
  .rightBlockWrap
    text-align right

  .mainImage
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    margin auto
    imgbox './images/logo.svg'
