.wrapper
  position absolute
  left 250px
  top 0
  width 305px
  background-color #fff
  box-shadow 0 0 4px 0 rgba(0, 0, 0, 0.24)
  border-radius 6px
  z-index 999999
  padding 7px 20px
  box-sizing border-box
  &:before
    content ''
    position absolute
    left -20px
    bottom 115px
    margin auto
    width 20px
    height 30px
    z-index -1
    background url(./images/ic-trio.svg) right top no-repeat
  .fieldBlock
    padding-top 15px
    input
      width 100%
  .btnWrap
    padding 30px 0 23px