.title
  padding-bottom 0
  color #fff
  font-size 25px
  font-weight 300

.btnHome
  box-sizing border-box
  min-width 172px
  margin-top 15px
  margin-bottom 40px
  padding 17px 28px 13px
  text-transform uppercase
  letter-spacing 1px
  color #fff
  font-size 15px

.haventQuests
  padding-bottom 36px
  .desc
    padding 0 0 25px
    font-size 13px
    color #8895AA
    letter-spacing 0
    line-height 22px

.questsWrap
  display inline-block
  width auto
  min-width calc(100% + 32px)
  margin 40px -16px 0
  @media(max-width 890px)
    margin-top 20px
  @media(max-width 680px)
    margin-top 40px
  .quest
    float left
    box-sizing border-box
    width calc(33.3333% - 32px)
    height 400px
    margin 0 16px 32px
    padding 12px 14px
    transition all .2s
    text-decoration none
    text-decoration none
    border-radius 8px
    background-color #272B39
    @media(max-width 890px)
      width calc(33.3333% - 16px)
      margin 0 8px 16px
    @media(max-width 680px)
      width calc(50% - 16px)
      margin 0 8px 16px
      margin 0 8px 16px
    @media(max-width 560px)
      width calc(100% - 32px)
      margin 0 16px 20px
    &:hover
      transition all .2s
      background-color #393F53
    .cover
      position relative
      overflow hidden
      width 100%
      height 210px
      border-radius 6px
      .status
        top 8px
        left 8px
      img
        width 100%
        min-height 100%
        // box-shadow 0 17px 50px 0 rgba(255,129,165,0.34)
    .questTitle
      overflow hidden
      width 100%
      max-height 36px
      margin 22px 0 14px
      text-overflow ellipsis 
      color #E0E4F0
      font-size 16px
    .questDate
      padding-bottom 12px
      letter-spacing 0
      color #D5D7DF
      font-size 11px
      line-height 16px
      span
        color #9A9CA7
    .questDesc
      overflow hidden
      height 62px
      letter-spacing 0
      text-overflow ellipsis 
      color #9A9CA7
      font-size 11px
      line-height 16px
    .questPrizesBlock
      vertical-align top
      letter-spacing 0
      color #9A9CA7
      font-size 11px
      line-height 16px
      &Items
        display inline-block
        width 60px
        margin-top 8px
        margin-right 7px
        vertical-align top
        .questPrizesBlockItem
          position relative
          z-index 2
          display inline-block
          width 30px
          height 30px
          margin-right -15px
          border 0 solid
          border-radius 8px
          background url(./images/prize_bg.svg) center no-repeat #535c7b
          background-size 50%
          box-shadow 4px 0 4px 0 rgba(0,0,0,0.30)
          &:first-child
            z-index 3
          &:last-child
            z-index 1
      .questPrizesBlockContent
        display inline-block
        margin-top 11px
        vertical-align top
        letter-spacing 0
        color #fff
        font-size 11px
        line-height 13px
        span
          display block
          color #D5D7DF

  &.questsWrapEmpty
    display block
    .questsWrapEmptyRow
      display inline-block
      width 100%
    .quest
      background-color #272b39
      &:hover
        background-color #393f53
      .cover
        background linear-gradient(to right, #586079, #333745)
      &Title
        min-height 10px
        margin-top 25px
        .stroke
          width 100%
          height 13px
          margin-bottom 7px
          border-radius 6px
          background linear-gradient(to right, #586079, #333745)
      &Date
        margin-top 12px
        padding-bottom 8px
        .stroke
          width 95%
          height 10px
          margin-bottom 7px
          border-radius 6px
          background linear-gradient(to right, #586079, #333745)
      &Desc
        height auto
        .stroke
          width 90%
          height 10px
          margin-bottom 7px
          border-radius 6px
          background linear-gradient(to right, #586079, #333745)
  .wait
    .quest
      opacity .9
      .punkt,
      .cover,
      .name
        background-color #f6f7f9
      .name
        width 80%
        margin-top 14px
        border-radius 4px
      .punkt
        width 60%
        height 8px
        border-radius 4px
