.inputEmojiPicker
	position relative
	display inline-block
	width 100%
	&Form
		padding-right 36px
	.emojiIc
		position absolute
		right 12px
		top 12px
		height 18px
		margin auto
		cursor pointer
		&:hover
			path
				fill #000
				transition all .2s

:global
	.emoji-mart
		padding 9px
		width 400px
		height 371px!important
		position absolute
		top -164px
		left 100%
		margin-left 30px
		z-index 999
		box-shadow 0 0 4px 0 rgba(0, 0, 0, 0.24)
		border 0 solid!important
		&:before
			content '\25C0\FE0E'
			position absolute
			left -30px
			top 0
			bottom 0
			margin auto
			width 18px
			font-size 43px
			z-index -1
			line-height 100%
			color #fff
			height 40px
			vertical-align top
			display inline-block
			text-shadow -4px 0 5px rgba(0, 0, 0, 0.24)
	.emoji-mart-category
		padding-bottom 15px
	.emoji-mart-scroll
			margin-top 15px
	.emoji-mart-search
		position relative
		&:before
			content ''
			position absolute
			left 13px
			top 0
			bottom 0
			margin auto
			width 18px
			height 18px
			display inline-block
			background url(./images/ic-search.svg) center no-repeat
			background-size 18px
		input
			padding 10px 10px 10px 30px
			height 32px
			border-radius 6px
			background-color #fff
			border solid 1px #e2e2e2
			font-size 14px
			font-weight normal
			font-style normal
			font-stretch normal
			line-height normal
			letter-spacing normal
			text-align left
			color #6b758e
	.emoji-mart-bar
		display none
	.emoji-mart-emoji
		position relative
		padding 0!important
		margin 2px 3px
		width 24px
		height 24px
		border-radius 4px
		text-align center
	.emoji-mart-category
		.emoji-mart-emoji
			span
				position absolute
				top 0
				bottom 0
				left 0
				right 0
				margin auto
				width 18px!important
				height 18px!important
	.emoji-mart-category-label
		font-size 12px
		font-weight 600
		line-height normal
		letter-spacing normal
		text-align left
		color #4c4c4c

	.right
		.emoji-mart
			left auto
			right 100%
			margin-left 0
			margin-right 30px
			&:before
				left auto
				right -30px
				top 0
				bottom 0
				transform rotate(180deg)