.row
	font-size 18px
	margin-top 45px
	margin-bottom 40px
	min-width 680px
	max-width 680px
	p	
		padding-bottom 20px
		font-size 16px
		font-weight normal
		font-style normal
		font-stretch normal
		line-height 1.75
		letter-spacing normal
		color #000000

	h1
		font-weight 600
		padding-bottom 16px
		font-size 28px
		font-style normal
		font-stretch normal
		line-height 1
		letter-spacing normal
		color #000000

	p + h1
		padding-top 34px