.dropdown
	position relative
	.current
		background transparent
		border 0 solid
		font-size inherit
		text-transform uppercase
		font-weight 500
		position relative
		&:after
			content ''
			position absolute
			left 100%
			margin-left 6px
			top 0
			bottom 0
			margin auto
			width 0
			height 0
			border-style solid
			border-width 5px 5px 0 5px
			border-color #999 transparent transparent transparent
	.list
		position absolute
		left 0
		top 100%
		margin-top 22px
		width 100%
		max-width 230px
		border-radius 8px
		background-color #fff
		box-shadow 0 0 4px 0 rgba(0, 0, 0, 0.24)
		.itemWrap
			position relative
		.item
			background transparent
			border 0 solid
			font-size inherit
			text-transform uppercase
			font-weight 400
			color #6b758e
			padding 12px 15px
			width 100%
			text-align left
			cursor pointer
			text-decoration none
			display inline-block
			box-sizing border-box
			&:hover
				background-color #f6f6f6
				color #000
			&AddNew
				color #3366ff
				&:hover
					background-color transparent
					color #3366ff
		a.item
			font-weight 500
