background-image-retina($image)
  $ext = extname($image)
  $dirname = dirname($image)
  $filename = basename($image, $ext)
  $image2x = s('%s', match('^./', $image)) + pathjoin($dirname, $filename + '@2x' + $ext)
  $image3x = s('%s', match('^./', $image)) + pathjoin($dirname, $filename + '@3x' + $ext)

  background-image url($image)
  background-size image-size($image)[0] auto

  if file-exists($image2x)
    +retina(1.5)
      background-image url($image2x)

  if file-exists($image3x)
    +retina(2.5)
      background-image url($image3x)

$orange = #F77012