doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Vocapp
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&amp;subset=cyrillic" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900" rel="stylesheet")
    
    link(rel="shortcut icon" type="image/x-icon" href="./images/ic-logo.png")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-title" content="Vocapp")
    link(rel="apple-touch-icon" href="./images/ic-logo.png")
    link(rel="apple-touch-icon" sizes="152x152" href="./images/ic-logo@2x.png")
    link(rel="apple-touch-icon" sizes="180x180" href="./images/ic-logo@3x.png")
    link(rel="apple-touch-icon" sizes="167x167" href="./images/ic-logo@3x.png")
  body
    div#app
      .preloader
        .logo
    //- script(type="text/javascript" src="vendor.js")