@font-face {
    font-family: "wff-ui";
    src: url("./SFDisplay-Ultralight.eot");
    src: url("./SFDisplay-Ultralight.eot?#iefix") format("embedded-opentype"),
         url("./SFDisplay-Ultralight.woff2") format("woff2"),
         url("./SFDisplay-Ultralight.woff") format("woff"),
         url("./SFDisplay-Ultralight.ttf") format("ttf");
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: "wff-ui";
    src: url("./SFDisplay-Thin.eot");
    src: url("./SFDisplay-Thin.eot?#iefix") format("embedded-opentype"),
         url("./SFDisplay-Thin.woff2") format("woff2"),
         url("./SFDisplay-Thin.woff") format("woff"),
         url("./SFDisplay-Thin.ttf") format("ttf");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "wff-ui";
    src: url("./SFDisplay-Light.eot");
    src: url("./SFDisplay-Light.eot?#iefix") format("embedded-opentype"),
         url("./SFDisplay-Light.woff2") format("woff2"),
         url("./SFDisplay-Light.woff") format("woff"),
         url("./SFDisplay-Light.ttf") format("ttf");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "wff-ui";
    src: url("./SFDisplay-Regular.eot");
    src: url("./SFDisplay-Regular.eot?#iefix") format("embedded-opentype"),
         url("./SFDisplay-Regular.woff2") format("woff2"),
         url("./SFDisplay-Regular.woff") format("woff"),
         url("./SFDisplay-Regular.ttf") format("ttf");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "wff-ui";
    src: url("./SFDisplay-Medium.eot");
    src: url("./SFDisplay-Medium.eot?#iefix") format("embedded-opentype"),
         url("./SFDisplay-Medium.woff2") format("woff2"),
         url("./SFDisplay-Medium.woff") format("woff"),
         url("./SFDisplay-Medium.ttf") format("ttf");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "wff-ui";
    src: url("./SFDisplay-Semibold.eot");
    src: url("./SFDisplay-Semibold.eot?#iefix") format("embedded-opentype"),
         url("./SFDisplay-Semibold.woff2") format("woff2"),
         url("./SFDisplay-Semibold.woff") format("woff"),
         url("./SFDisplay-Semibold.ttf") format("ttf");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "wff-ui";
    src: url("./SFDisplay-Bold.eot");
    src: url("./SFDisplay-Bold.eot?#iefix") format("embedded-opentype"),
         url("./SFDisplay-Bold.woff2") format("woff2"),
         url("./SFDisplay-Bold.woff") format("woff"),
         url("./SFDisplay-Bold.ttf") format("ttf");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "wff-ui";
    src: url("./SFDisplay-Heavy.eot");
    src: url("./SFDisplay-Heavy.eot?#iefix") format("embedded-opentype"),
         url("./SFDisplay-Heavy.woff2") format("woff2"),
         url("./SFDisplay-Heavy.woff") format("woff"),
         url("./SFDisplay-Heavy.ttf") format("ttf");
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: "wff-ui";
    src: url("./SFDisplay-Black.eot");
    src: url("./SFDisplay-Black.eot?#iefix") format("embedded-opentype"),
         url("./SFDisplay-Black.woff2") format("woff2"),
         url("./SFDisplay-Black.woff") format("woff"),
         url("./SFDisplay-Black.ttf") format("ttf");
    font-style: normal;
    font-weight: 900;
}



/* Webfont: Lato-Black */@font-face {
    font-family: 'LatoWebBlack';
    src: url('./Lato/Lato-Black.eot'); /* IE9 Compat Modes */
    src: url('./Lato/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Lato/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
         url('./Lato/Lato-Black.woff') format('woff'), /* Modern Browsers */
         url('./Lato/Lato-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BlackItalic */@font-face {
    font-family: 'LatoWebBlack';
    src: url('./Lato/Lato-BlackItalic.eot'); /* IE9 Compat Modes */
    src: url('./Lato/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Lato/Lato-BlackItalic.woff2') format('woff2'), /* Modern Browsers */
         url('./Lato/Lato-BlackItalic.woff') format('woff'), /* Modern Browsers */
         url('./Lato/Lato-BlackItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */@font-face {
    font-family: 'LatoWebBold';
    src: url('./Lato/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('./Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Lato/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('./Lato/Lato-Bold.woff') format('woff'), /* Modern Browsers */
         url('./Lato/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BoldItalic */@font-face {
    font-family: 'LatoWebBold';
    src: url('./Lato/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('./Lato/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Lato/Lato-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('./Lato/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('./Lato/Lato-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Hairline */@font-face {
    font-family: 'LatoWebHairline';
    src: url('./Lato/Lato-Hairline.eot'); /* IE9 Compat Modes */
    src: url('./Lato/Lato-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Lato/Lato-Hairline.woff2') format('woff2'), /* Modern Browsers */
         url('./Lato/Lato-Hairline.woff') format('woff'), /* Modern Browsers */
         url('./Lato/Lato-Hairline.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HairlineItalic */@font-face {
    font-family: 'LatoWebHairline';
    src: url('./Lato/Lato-HairlineItalic.eot'); /* IE9 Compat Modes */
    src: url('./Lato/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Lato/Lato-HairlineItalic.woff2') format('woff2'), /* Modern Browsers */
         url('./Lato/Lato-HairlineItalic.woff') format('woff'), /* Modern Browsers */
         url('./Lato/Lato-HairlineItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Heavy */@font-face {
    font-family: 'LatoWebHeavy';
    src: url('./Lato/Lato-Heavy.eot'); /* IE9 Compat Modes */
    src: url('./Lato/Lato-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Lato/Lato-Heavy.woff2') format('woff2'), /* Modern Browsers */
         url('./Lato/Lato-Heavy.woff') format('woff'), /* Modern Browsers */
         url('./Lato/Lato-Heavy.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HeavyItalic */@font-face {
    font-family: 'LatoWebHeavy';
    src: url('./Lato/Lato-HeavyItalic.eot'); /* IE9 Compat Modes */
    src: url('./Lato/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Lato/Lato-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
         url('./Lato/Lato-HeavyItalic.woff') format('woff'), /* Modern Browsers */
         url('./Lato/Lato-HeavyItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Italic */@font-face {
    font-family: 'LatoWeb';
    src: url('./Lato/Lato-Italic.eot'); /* IE9 Compat Modes */
    src: url('./Lato/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Lato/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('./Lato/Lato-Italic.woff') format('woff'), /* Modern Browsers */
         url('./Lato/Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */@font-face {
    font-family: 'LatoWebLight';
    src: url('./Lato/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('./Lato/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Lato/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
         url('./Lato/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('./Lato/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-LightItalic */@font-face {
    font-family: 'LatoWebLight';
    src: url('./Lato/Lato-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('./Lato/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Lato/Lato-LightItalic.woff2') format('woff2'), /* Modern Browsers */
         url('./Lato/Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('./Lato/Lato-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Medium */@font-face {
    font-family: 'LatoWebMedium';
    src: url('./Lato/Lato-Medium.eot'); /* IE9 Compat Modes */
    src: url('./Lato/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Lato/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('./Lato/Lato-Medium.woff') format('woff'), /* Modern Browsers */
         url('./Lato/Lato-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-MediumItalic */@font-face {
    font-family: 'LatoWebMedium';
    src: url('./Lato/Lato-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('./Lato/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Lato/Lato-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
         url('./Lato/Lato-MediumItalic.woff') format('woff'), /* Modern Browsers */
         url('./Lato/Lato-MediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */@font-face {
    font-family: 'LatoWeb';
    src: url('./Lato/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('./Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Lato/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('./Lato/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('./Lato/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold */@font-face {
    font-family: 'LatoWebSemibold';
    src: url('./Lato/Lato-Semibold.eot'); /* IE9 Compat Modes */
    src: url('./Lato/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Lato/Lato-Semibold.woff2') format('woff2'), /* Modern Browsers */
         url('./Lato/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
         url('./Lato/Lato-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-SemiboldItalic */@font-face {
    font-family: 'LatoWebSemibold';
    src: url('./Lato/Lato-SemiboldItalic.eot'); /* IE9 Compat Modes */
    src: url('./Lato/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Lato/Lato-SemiboldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('./Lato/Lato-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
         url('./Lato/Lato-SemiboldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Thin */@font-face {
    font-family: 'LatoWebThin';
    src: url('./Lato/Lato-Thin.eot'); /* IE9 Compat Modes */
    src: url('./Lato/Lato-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Lato/Lato-Thin.woff2') format('woff2'), /* Modern Browsers */
         url('./Lato/Lato-Thin.woff') format('woff'), /* Modern Browsers */
         url('./Lato/Lato-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-ThinItalic */@font-face {
    font-family: 'LatoWebThin';
    src: url('./Lato/Lato-ThinItalic.eot'); /* IE9 Compat Modes */
    src: url('./Lato/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Lato/Lato-ThinItalic.woff2') format('woff2'), /* Modern Browsers */
         url('./Lato/Lato-ThinItalic.woff') format('woff'), /* Modern Browsers */
         url('./Lato/Lato-ThinItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}



@font-face {
  font-family: 'LetoSans';
  src: url('./letosans/LetoSans.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'LetoSans';
  src: url('./letosans/LetoSans-Thin.otf') format('opentype');
  font-style: normal;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'LetoSans';
  src: url('./letosans/LetoSans-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}
