.waiting
	font-size 1.5em
	text-align center
	box-sizing border-box

  .preloader
		position fixed
		top 0
		left 0
		right 0
		bottom 0
		margin auto
		width 156px
		height 156px

    .logo
      display block
			position relative
			left 50%
			top 50%
			height 100px
			width 100px
			margin -127px 0 0 -45px
			background url("./images/ic-logo@3x.png") top left no-repeat
			background-size contain
			border-radius 50%
			animation logo-spin 1.5s cubic-bezier(.80, 0, .20, 1) infinite

    .loader
			position relative
			display block
			left 50%
			top 50%
			width 150px
			height 150px
			margin -75px 0 0 -75px
			border-radius 50%
			border 3px solid transparent
			border-top-color #6b758e
			animation spin 2s linear infinite
			&:after
				position absolute
				top 15px
				left 15px
				right 15px
				bottom 15px
				border-radius 50%
				border 3px solid transparent
				border-top-color #6b758e
				animation spin 1.5s linear infinite
				content ''
			&:before
				position absolute
				top 5px
				left 5px
				right 5px
				bottom 5px
				border-radius 50%
				border 3px solid transparent
				border-top-color #6b758e
				animation spin 3s linear infinite
				content ''

@keyframes spin {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

@keyframes logo-spin {
	0%{
		transform: rotate(0deg);
	}
	60%{
		transform: rotate(360deg);
	}
	100%{
		transform: rotate(360deg);
	}
}